*{
	margin: 0px;
	padding:0px;
}
body{
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.row{
	margin: 0px;
}
.visiting-card .row .col-lg-12{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a{
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
	transition: 0.5s all;
}
a:hover{
	text-decoration: none;
	color:white;
}

.visiting-card{
	width: 25%;
	height:80vh;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
	background-image: url(../image/background.jpg);
}
.logo{
	height: 50vh;
}

.header1 .image-wrapper{
	height: 70px;
}
.header1 .col-lg-12{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.logo{
	width: 100px;
}
.image{
	height: 100px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image .image-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h2{
	color: #fff;
	text-align: center;
	font-size: 23px;
}
h3{
	color: rgb(204, 163, 0);
	text-align: center;
	font-size: 20px;
}

h5{
	color: rgb(204, 163, 0);
	text-align: center;
	font-size: 18px;
}
.visiting-card .row .details{
	padding: 20px;
	background-image: linear-gradient(to bottom,#404040,black);
	color:#fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 30vh;
}
.visiting-card .row .details a i{
	font-size: 20px;
	margin-right: 10px;
	color: #dfc13f;
}
.visiting-card .row .details a{
	color: #3398cc;
}
@media only screen and (max-width: 576px){
.visiting-card{
	width: 100%;
	height: 80vh;
}
.vcard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo{
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
.logo img{
	width: 200px !important;
}
.logo h2{
	font-size: 20px !important;
}
}