*{
	margin: 0px;
	padding:0px;
}
body{
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.row{
	margin: 0px;
}
a{
	color: rgb(204, 163, 0);
	font-weight: bold;
	margin-left: 5px;
	transition: 0.5s all;
}
a:hover{
	text-decoration: none;
	color: black;
}

.visiting-card{
	width: 25%;
	height:70vh;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
}
.header1 .image-wrapper{
	height: 70px;
}
.header1 .col-lg-12{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.logo{
	width: 100px;
}
.image{
	height: 100px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.image .image-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
h2{
	color: rgb(204, 163, 0);
	text-align: center;
	font-size: 28px;
}
h5{
	color: rgb(204, 163, 0);
	text-align: center;
	font-size: 18px;
}
.details{
	padding: 20px;
	background-image: linear-gradient(to bottom,#404040,black);
	color:#fff;
}
.contact1 .wapp{
	background-color: 
#8c8c8c;
}
.contact1 .call{
	background-color: 
#333333;
}
.contact1 a,.contact-further a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}
.contact1 a i{
	font-size: 30px;
}
.contact-further a i{
	font-size: 30px;
}
.contact-further{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://images.unsplash.com/photo-1611401433776-5295c244b757?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8amNifGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 20px 0px;
}
.fa-whatsapp{
	color: green;
}
.fa-phone{
	color: red;
}
.fa-envelope{
	color:grey;
}
.fa-globe{
	color: grey;
}
.button a{
	padding: 10px 45px;
	border-radius: 45px;
	color: #fff;
	background-color: #000;
}
.button .col-lg-12{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	padding: 5px 0px;
}
.logo-header-vcard{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 576px){
	.visiting-card{
	width: 100%;
	height: 100%;
}
body{
	justify-content: flex-start;
	height: 80vh;
}
}